@model ELearningApp.ViewModels.SchoolCourseViewModel
@{
    ViewData["Title"] = "CreateSchool";
    Layout = "~/Views/Shared/_DataTablesLayoutPartial.cshtml";
}

<h2>Dodaj školu</h2>
<hr />
<div class="row">
    <div class="col-lg-4">
        @using (Html.BeginForm("CreateSchool", "Schools"))
        {
            <div class="form-group">
                @Html.LabelFor(s => s.School.Name)
                @Html.TextBoxFor(s => s.School.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(s => s.School.Name)
            </div>
            @Html.HiddenFor(s => s.School.Id)
            @Html.AntiForgeryToken()
            <input type="submit" asp-route-returnUrl="@Url.Action("AllSchools", "Schools", new { area = "" })" class="btn btn-success" formmethod="post" value="Create" />
        }
    </div>
</div>
@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial.cshtml");
}