@model ELearningApp.ViewModels.CourseCategoryViewModel
@{
    ViewData["Title"] = "CreateCourse";
    Layout = "~/Views/Shared/_DataTablesLayoutPartial.cshtml";
}

<h2>Dodaj kurs</h2>
<div class="row">
    <div class="col-lg-4">
        @using (Html.BeginForm("CreateCourse", "Courses"))
        {
            <div class="form-group">
                @Html.LabelFor(c => c.Course.Name)
                @Html.TextBoxFor(c => c.Course.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Course.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.Course.Link)
                @Html.TextBoxFor(c => c.Course.Link, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Course.Link)
            </div>
            @*<div class="form-group">
                @Html.LabelFor(c => c.Course.Categories)
                @Html.DropDownListFor(c => c.Course.Categories,
                                      new SelectList(Model.Course.Categories, "Id", "Name"),
                                      "Izaberite kategoriju",
                                      new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Course.Categories)
            </div>*@
            <div class="form-group">
                @Html.LabelFor(c => c.Course.Categories)
                @Html.TextBoxFor(c => c.Course.Categories, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Course.Categories)
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.Course.Level)
                @Html.DropDownListFor(c => c.Course.Level,
                                      new SelectList(Enum.GetValues(typeof(Level))),
                                      "--Izaberite nivo kursa--",
                                      new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Course.Level)
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.Course.Description)
                @Html.TextAreaFor(c => c.Course.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Course.Description)
            </div>

            @Html.HiddenFor(c => c.Course.Id)
            @Html.AntiForgeryToken()
            <input type="submit" asp-route-returnUrl="@Url.Action("AllCourses", "Courses", new { area = "" })" class="btn btn-primary" formmethod="post" value="Dodaj kurs" />
        }
        <hr />
    </div>
</div>
@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial.cshtml");
}