@model ELearningApp.Models.Course
@{
    ViewData["Title"] = "UpdateCourse";
    Layout = "~/Views/Shared/_DataTablesLayoutPartial.cshtml";
}

<h2>Izmeni podatke o kursu</h2>
<hr />
<div class="row">
    <div class="col-lg-4">
        @using (Html.BeginForm("UpdateCourse", "Courses"))
        {
            <div class="form-group">
                @Html.LabelFor(c => c.Name)
                @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.Link)
                @Html.TextBoxFor(c => c.Link, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Link)
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.Categories)
                @Html.DropDownListFor(c => c.Categories,
                                      new SelectList(Model.Categories),
                                      new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Categories)
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.Level)
                @Html.DropDownListFor(c => c.Level,
                                      new SelectList(Enum.GetValues(typeof(Level))),
                                      "--Izaberite nivo kursa--",
                                      new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Level)
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.Description)
                @Html.TextBoxFor(c => c.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Description)
            </div>
            @Html.HiddenFor(c => c.Id)
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-primary" value="Update" />
        }
    </div>
</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial.cshtml");
}